html{
	font-size: 14px;
}
body{
	margin: auto;
	padding-top: 3rem;
	padding-left: 2.5rem;
	background-color: #577343;
	overflow: hidden;
    -webkit-transition: all 5000ms ease;
            -moz-transition: all 5000ms ease;
            -ms-transition: all 5000ms ease;
            -o-transition: all 5000ms ease;
            transition: all 5000ms ease;
}

#main{
	margin: auto;
	width: 64rem;
}
.char-container{
	position: relative;
	margin: 1rem;
	display: inline-block;
	width: 8rem;
	height:6rem;
}
.char{
	margin: auto;
	/*width: 75%;*/
	position: relative;
	height: 100%;
/*	margin-left: auto;
	margin-right: auto;*/
}

.medTri{
	width:0px;
	height:0px;
	border-right:1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-bottom: 3rem solid #5CC4EE;
	position: absolute;
	mix-blend-mode: screen;
}
.lrgTri{
	width:0px;
	height:0px;
	border-right:2.5rem solid transparent;
	border-left: 2.5rem solid transparent;
	border-bottom: 5rem solid #334D8F;
	position: absolute;
	mix-blend-mode: screen;
}
.medDwnTri{
	width:0px;
	height:0px;
	border-right:1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-top: 3rem solid #64E6FF;
	position: absolute;
	mix-blend-mode: screen;
}
.lrgDwnTri{
	width:0px;
	height:0px;
	border-right:2.5rem solid transparent;
	border-left: 2.5rem solid transparent;
	border-top: 5rem solid #1E3054;
	position: absolute;
	mix-blend-mode: screen;
}

.medCir{
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	background-color: #FFB644;
	position: absolute;
	mix-blend-mode: screen;
}
.c2{
	background-color: #FFC869;
}
.smlCir{        
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background-color: #FFD629;
	position: absolute;
	mix-blend-mode: screen;
}
.lrgCir{
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	background-color: #F79C41;
	position: absolute;
	mix-blend-mode: screen;
}

.smlSqr{
	width: 1rem;
	height:1rem;
	background-color: #AF3C22;
	position: absolute;
	mix-blend-mode: screen;
}
.medSqr{
	width: 3rem;
	height: 3rem;
	background-color: #E7542B;
	position: absolute;
	mix-blend-mode: screen;
}
.s2{
	background-color: #FF6331;
	mix-blend-mode: screen; 
}

#A .smlCir{
	position: relative;
	left: 2rem;
	top:3rem;
}
#B #bs2{
	top:2rem;
}
#B #bc1{
	left: 1.5rem;
}
#B #bc2{
	top:2rem;
	left: 1.5rem;
}
#C .smlCir{
	top:2rem;
	left:4rem;
}
#D #ds2{
	top:2rem;
}
#E #es2{
	top:2rem;
}
#E #ec1{
	left:3rem;
}
#E #ec2{
	left:3rem;
	top:4rem;
}
#E .smlSqr{

	left:3rem;
	top:2rem;
}
#F #fs2{
	top: 2rem;
}
#F .smlCir{
	left: 3rem;
}
#F .smlSqr{
	top: 2rem;
	left: 3rem;
}
#G .medDwnTri{
	top: 2rem;
	left: 3rem;
}
#H .smlCir{
	top: 2rem;
	left: 3rem;   
}
#H #hs2{
	top: 2rem;
}
#H #hs3{
	left: 4rem;
}
#H #hs4{
	top: 2rem;
	left: 4rem;
}
#I #is2{
	top: 2rem;
}
#J #js1{
	left: 1.5rem;
}
#J #js2{
	left: 1.5rem;
	top: 2rem;
}
#J .medCir{
	top: 3rem;
}
#K #ks2{     
	top: 2rem;
}
#K .medTri{
	left: 1.5rem;
	top: 2rem;
}
#K .smlCir{
	left: 3.5rem;
}
#L #ls2{
	top: 2rem;
}
#L .smlSqr{
	top: 4rem;
	left: 3rem;
}
#M #ms1{
	top: 2rem;
}   
#M #ms2{
	top: 2rem;
	left: 3rem;
}
#M #mt2{
	left: 3rem;
}
#N #ns1{
	top: 2rem;
} 
#N #ns2{
	left: 3rem;
}
#N .medDwnTri{
	top: 2rem;
	left: 3rem;
}
#O .smlCir{
	top: 2rem;
	left: 2rem;
}
#P #ps2{
	top: 2rem;
}
#P .medCir{
	left: 1.5rem;
	/*top: -3rem;*/
}
#Q .smlCir{
	left: 5rem;
	top: 4rem;
}
#R #rs2{
	top: 2rem;
}
#R .medCir{
	left: 1.5rem;
}
#R .medTri{
	left: 1.5rem;
	top: 2rem;
}
#S #sc2{
	top: 2rem;
	left: .5rem;
}
#S #sc3{
	top:1rem;
	left: 2rem;
}
#S #sc4{
	top:3rem;
	left: .5rem;
}
#T #ts1{
	left: 1rem;
}
#T #ts2{
	left: 1rem;
	top: 2rem;
}
#T #ts3{
	left: 4rem;
}
#U #us2{
	left: 2rem;
}
#V .smlCir{
	top: 1rem;
	left: 2rem;
}
#W #ws2{
	left: 3rem;
}
#W #wt1{
	top: 2rem;
}
#W #wt2{
	top: 2rem;
	left: 3rem;
}
#X{

}
#Y #ys1{
	left: 1rem;
}
#Y #ys2{
	left: 1rem;
	top: 2rem;
}
#Z .medDwnTri{
	left: 1rem;
}
#Z .medTri{
	top: 2rem;
}
#Z #zc2{
	top: 4rem;
	left: 3rem;
}
#n1 #OneS1{
	left: 1rem;
}
#n1 #OneS2{
	top: 2rem;
	left: 1rem;
}
#n2 .medTri{
	top: 2rem;
}
#n3 #ThreeC2{
	top: 2rem;
}
#n3 #ThreeC3{
	top: 1rem;
}
#n3 #ThreeC4{
	top: 3rem;
}
#n4 #FourS1{
	left: 1.5rem;
}
#n4 #FourS2{
	left: 1.5rem;
	top: 2rem;
}
#n5 .medCir{
	top: 2rem;
}
#n6 #SixC2{
	top: 2rem;
}
#n6 .smlCir{
	left: 2rem;
	top: 1rem;
}
#n7 #SevS1{
	left: 1.5rem;
}
#n7 #SevS2{
	left: 1.5rem;
	top: 2rem;
}
#n8 #EightC2{
	top: 2rem;
}
#n9 #NineS1{
	left: 1.5rem;
}
#n9 #NineS2{
	left: 1.5rem;
	top: 2rem;
}
#n0{

}

