html{
	font-size: 48px;
}
body{
	width:100%;
	height:100%;
	margin: auto;
}
.char{
	margin: 5rem;
	position: relative;
}

div{
	background-blend-mode: screen;
	width: 8rem;
	height:6rem;
}

.medTri{
	width:0px;
	height:0px;
	border-right:1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-bottom: 3rem solid red;
	position: absolute;
	background-blend-mode: screen;
}
.lrgTri{
	width:0px;
	height:0px;
	border-right:2.5rem solid transparent;
	border-left: 2.5rem solid transparent;
	border-bottom: 5rem solid brown;
	position: absolute;
	background-blend-mode: screen;
}
.medDwnTri{
	width:0px;
	height:0px;
	border-right:1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-top: 3rem solid turquoise;
	position: absolute;
	background-blend-mode: screen;
}
.lrgDwnTri{
	width:0px;
	height:0px;
	border-right:2.5rem solid transparent;
	border-left: 2.5rem solid transparent;
	border-top: 5rem solid blue;
	position: absolute;
	background-blend-mode: screen;
}

.smlCir{        
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background-color: gray;
	position: absolute;
	background-blend-mode: screen;
}
.medCir{
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	background-color: black;
	position: absolute;
	background-blend-mode: screen;
}
.lrgCir{
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	background-color: magenta;
	position: absolute;
	background-blend-mode: screen;
}

.smlSqr{
	width: 1rem;
	height:1rem;
	background-color: orange;
	position: absolute;
	background-blend-mode: screen;
}
.medSqr{
	width: 3rem;
	height: 3rem;
	background-color:yellow;
	position: absolute;
	background-blend-mode: screen;
}


/*.red{
	background-color: red; 
}

.green{
	background-color: green;
}
*/
#A .smlCir{
	position: relative;
	left: 2rem;
	top:3rem;
}
#B #bs2{
	top:2rem;
}
#B #bc1{
	left: 1.5rem;
}
#B #bc2{
	top:2rem;
	left: 1.5rem;
}
#C .smlCir{
	top:2rem;
	left:4rem;
}
#D #ds2{
	top:2rem;
}
#E #es2{
	top:2rem;
}
#E #ec1{
	left:3rem;
}
#E #ec2{
	left:3rem;
	top:4rem;
}
#E .smlSqr{

	left:3rem;
	top:2rem;
}
#F #fs2{
	top: 2rem;
}
#F .smlCir{
	left: 3rem;
}
#F .smlSqr{
	top: 2rem;
	left: 3rem;
}
#G .medSqr{
	position:relative;
	top: 2rem;
	left: 2rem;
}
#H .smlCir{
	top: 2rem;
	left: 3rem;   
}
#H #hs2{
	top: 2rem;
}
#H #hs3{
	left: 4rem;
}
#H #hs4{
	top: 2rem;
	left: 4rem;
}
#I #is2{
	top: 2rem;
}
#J #js1{
	left: 1.5rem;
}
#J #js2{
	left: 1.5rem;
	top: 2rem;
}
#J .medCir{
	top: 3rem;
}
#K #ks2{     
	top: 2rem;
}
#K .medTri{
	left: 1.5rem;
	top: 2rem;
}
#K .smlCir{
	left: 3.5rem;
}
#L #ls2{
	top: 2rem;
}
#L .smlSqr{
	top: 4rem;
	left: 3rem;
}
#M #ms1{
	top: 2rem;
}   
#M #ms2{
	top: 2rem;
	left: 3rem;
}
#M #mt2{
	left: 3rem;
}
#N #ns2{
	top: 2rem;
} 
#N #ns3{
	top: 2rem;
	left: 4.5rem;
}
#N #ns4{
	left: 4.5rem;
}
#N .medTri{
	left: 1.5rem;
}
#O .smlCir{
	top: 2rem;
	left: 2rem;
}
#P #ps2{
	top: 2rem;
}
#P .medCir{
	left: 1.5rem;
	/*top: -3rem;*/
}
#Q .smlCir{
	left: 5rem;
	top: 4rem;
}
#R #rs2{
	top: 2rem;
}
#R .medCir{
	left: 1.5rem;
}
#R .medTri{
	left: 1.5rem;
	top: 2rem;
}
#S #sc2{
	top: 2rem;
}
#S #sc3{
	top:1rem;
	left: 2rem;
}
#S #sc4{
	top:3rem;
}
#T #ts1{
	left: 1rem;
}
#T #ts2{
	left: 1rem;
	top: 2rem;
}
#T #tc2{
	left: 4rem;
}
#U #us2{
	left: 2rem;
}
#V{

}
#W #ws2{
	left: 3rem;
}
#W #wt1{
	top: 2rem;
}
#W #wt2{
	top: 2rem;
	left: 3rem;
}
#X{

}
#Y #ys1{
	left: 1rem;
}
#Y #ys2{
	left: 1rem;
	top: 2rem;
}
#Z .medDwnTri{
	left: 1rem;
}
#Z .medTri{
	left: 1rem;
	top: 2rem;
}
#Z #zc2{
	top: 4rem;
	left: 4rem;
}
#n1 #OneS1{
	left: 1rem;
}
#n1 #OneS2{
	top: 2rem;
	left: 1rem;
}
#n2 .medTri{
	top: 2rem;
}
#n3 #ThreeC2{
	top: 2rem;
}
#n3 #ThreeC3{
	top: 1rem;
}
#n3 #ThreeC4{
	top: 3rem;
}
#n4 #FourS1{
	left: 1.5rem;
}
#n4 #FourS2{
	left: 1.5rem;
	top: 2rem;
}
#n5 .medCir{
	top: 2rem;
}
#n6 #SixC2{
	top: 2rem;
}
#n6 .smlCir{
	left: 2rem;
	top: 1rem;
}
#n7 #SevS1{
	left: 2.5rem;
}
#n7 #SevS2{
	left: 2.5rem;
	top: 2rem;
}
#n8 #EightC2{
	top: 2rem;
}
#n9 #NineS1{
	left: 1.5rem;
}
#n9 #NineS2{
	left: 1.5rem;
	top: 2rem;
}
#n0{

}

