html{
	font-size: 24px;
	font-family: "xants";

}
body{
	width:100%;
	height:100%;
	margin: auto;
	mix-blend-mode: screen;
}
.char{
	margin: 1rem;
	position: relative;
	display: inline-block;
}

div{
	mix-blend-mode: screen;
	width: 5rem;
	height:5rem;
}

.medTri{
	width:0px;
	height:0px;
	border-right:1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-bottom: 3rem solid red;
	position: absolute;
	mix-blend-mode: screen;
}
.lrgTri{
	width:0px;
	height:0px;
	border-right:2.5rem solid transparent;
	border-left: 2.5rem solid transparent;
	border-bottom: 5rem solid brown;
	position: absolute;
	mix-blend-mode: screen;
}
.medDwnTri{
	width:0px;
	height:0px;
	border-right:1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-top: 3rem solid turquoise;
	position: absolute;
	mix-blend-mode: screen;
}
.lrgDwnTri{
	width:0px;
	height:0px;
	border-right:2.5rem solid transparent;
	border-left: 2.5rem solid transparent;
	border-top: 5rem solid blue;
	position: absolute;
	mix-blend-mode: screen;
}

.smlCir{        
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background-color: gray;
	position: absolute;
	mix-blend-mode: screen;
}
.medCir{
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	background-color: black;
	position: absolute;
	mix-blend-mode: screen;
}
.lrgCir{
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	background-color: magenta;
	position: absolute;
	mix-blend-mode: screen;
}

.smlSqr{
	width: 1rem;
	height:1rem;
	background-color: orange;
	position: absolute;
	mix-blend-mode: screen;
}
.medSqr{
	width: 3rem;
	height: 3rem;
	background-color:yellow;
	position: absolute;
	mix-blend-mode: screen;
}
.r2{
	background: blue;
}

.num{
	position: absolute;
	z-index: 100;
}

.R .r2{
	top: 2rem;
	z-index: 1;
	color: white;
}
.R .medCir{
	left: 1.5rem;
}
.R .medTri{
	left: 1.5rem;
	top: 2rem;
}

#r37:active{
	transform: scaleX(10);
	transform: scaleY(2000);
	background-image: url(heart.gif)
}
#r38:active{
	background-color: magenta;
	transform: rotate(180deg);
	transition: 2s;
}
#r39 div:active{
	background-color: green;
	transition: .25s;
}
#r40:active{
	transform: translate3d(42px, -62px, -135px);
	transition: .5s;
}


